{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Category: {{category}}</h2>
    {% for auc in List %}
        <hr>
        <a href="{% url 'listing' auc.id %}" style="text-decoration: none;"><div style="color:black;">
        <ul class="nav">
            <li class="nav-item"><img src={{ auc.ImageURL }} height="300" width="300" alt={{auc.Title}} ></li>
            <li class="nav-item">
                <h4>
                    <ul>
                        <li>{{auc.Title}}</li>
                        <li>{{auc.Description}}</li>
                        <li>Price: {{ auc.StartingBid }}</li>
                        <li>Category: {{auc.Category}}</li>
                        <br>
                        <br>
                        <br>
                        <small>Created at {{auc.date}}</small>
                    </ul>
                </h4>
            </li>
        </ul>
        </div></a>

        <hr>

    {% endfor %}

{% endblock %}